/*=================================================================================

  Screen.css
  
  Designed by: Dean Nelson, Renée Weaver, and Brian Semrau
  
  Purpose: To facilitate styling of index.php, 
  http://submit-iit-timesheet.geekkidconsulting.com/login.aspx, and welcome.html
  
  CSS Structure: Native HTML Elements, classes, IDs.  Each structure element
  is further sorted by the order that it falls on the page.  Each page's unique/new
  elements are introduced in the following order: index.php, login.aspx, welcome.html
  
  Issues with this page should be submitted to:
  https://github.com/The-Three-Stooges-and-Renee/William-Tell-DB/issues
  
  All questions, comments, or inquiries about supporting this project should be sent to:
  williamtell@webhomework.geekkidconsulting.com.
  
  =================================================================================*/

/*CSS Reset Code*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End CSS reset Code*/


html {
	font-family: futura, arial, sans-serif;
}
input[type=date]{
	background-color: lightpink;
	display: block;
}
input[type=number]{
	background-color: lightgrey;
}

input[type=radio]{
	width: 1.75em;
}
form {
	background-color: #FAFAFA;
	min-height: 10em;
}

.hidden {
  display: none;
}
.invalid {
  border-style: solid;
  border-color: #ff471a;
}

#iit_banner {
	background-color: #C40C15;
	min-height: 5em;
}

#nav_bar {
	background-color: #8A5456;
	min-height: 3em;
}

#in1 {
	display: inline;
}

/* Login page */

body {
	background: url(http://webhomework.geekkidconsulting.com/iit-timesheet/Images/LoginPageBackground.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}

#login_form{
	background-color: #D3D3D3;
	border-color: #8C001A;
	border-radius: 0.3125em;
	border-style: solid;
	border-width: 0.15em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	max-width: 15em;
	padding: 5%;
}

#login_form p {
	margin-left: 0.875em; 
}

#login_form input[type=text], input[type=password]{
	border-radius: 0.3125em;
	font-size: 1em;
	margin: 0.875em;
}

#login_form input[type=submit] {
	background-color: #FAFAFA;
	border-radius: 0.3125em;	
	display: block;
	font-size: 0.78125em;
	margin: 0.875em;
}

#form1 {
  background-color: transparent;
}