/*=================================================================================

  Screen.css
  
  Designed by: Dean Nelson, Renée Weaver, and Brian Semrau
  
  Purpose: To facilitate styling of index.php, 
  http://submit-iit-timesheet.geekkidconsulting.com/login.aspx, and welcome.html
  
  CSS Structure: Native HTML Elements, classes, IDs.  Each structure element
  is further sorted by the order that it falls on the page.  Each page's unique/new
  elements are introduced in the following order: index.php, login.aspx, welcome.html
  
  Issues with this page should be submitted to:
  https://github.com/The-Three-Stooges-and-Renee/William-Tell-DB/issues
  
  All questions, comments, or inquiries about supporting this project should be sent to:
  williamtell@webhomework.geekkidconsulting.com.
  
  =================================================================================*/

/*CSS Reset Code*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* =================================================================================
														End of CSS Reset Code
 =================================================================================*/


html {
	font-family: futura, arial, sans-serif;
}

h2 {
	font-size: 1.5em;
	color: #8C001A;
  padding: 0.825em;
}


h3{
	font-size: 1.25em;
	color: #000;
	margin: 0.25em;
}

h4 {
	color: #8C001A;
	margin-left: 0.825em;
}

p {
	margin-left: 0.825em;
	padding: 1%;
}

a {
	text-decoration: none;
	display: block;
	padding: 4%;
}


input[type=date]{
	background-color: #FEBFD2;
	display: block;
	margin-left: 0.875em;
	border-radius: 0.3125em;
	font-size: 1em;
}

input[type=number]{
	background-color: lightgrey;
	margin-left: 0.875em;
	border-radius: 0.3125em;
	font-size: 1em;	
	width: 3em;
}

input[type=radio]{
	width: 1.75em;
}

form {
	background-color: #FAFAFA;
	min-height: 10em;
}

.hidden {
  display: none;
}
.invalid {
  border-style: solid;
  border-color: #ff471a;
}

#iit_banner {
	background-color: #C40C15;
	min-height: 5em;
}

#nav_bar {
	background-color: #8C001A;
	min-height: 3em;
}

#nav_bar ul{
  padding: 2%;
}

#nav_bar li {
	/*display: inline-block;
	color: #FFF;
	padding: 3%;
	border: 0.025em;
	border-color: #46000D;
	border-style: solid;
	border-bottom-width: 0.015em;
	border-radius: 0.825em;*/
}

#nav_bar a {
	text-decoration: none;
	color: #FFF;
}

.nav a {
  display: inline-block;
	color: #FFF;
	padding: 3%;
	border: 0.025em;
	border-color: #46000D;
	border-style: solid;
	border-bottom-width: 0.015em;
	border-radius: 0.825em;
}

/* =================================================================================
									Login page
 =================================================================================*/

.login {
	background: url(http://webhomework.geekkidconsulting.com/iit-timesheet/Images/LoginPageBackground.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}

#login_form{
	background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
	border-color: #8C001A;
	border-radius: 0.3125em;
	border-style: solid;
	border-width: 0.15em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	max-width: 15em;
	padding: 5%;
}


#login_form input[type=text], input[type=password]{
	border-radius: 0.3125em;
	font-size: 1em;
	margin: 0.875em;
}

#login_form input[type=submit] {
	background-color: #FAFAFA;
	border-radius: 0.3125em;	
	display: block;
	font-size: 0.78125em;
	margin: 0.875em;
}

#form1 {
  background-color: transparent;
}

/*=================================================================================
									Welcome Page
=================================================================================*/

.welcome {
	background: url(http://webhomework.geekkidconsulting.com/iit-timesheet/Images/WelcomePageBackground.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}

#welcome {
	background-color: tan;
	opacity: 0.8;
}

#personal-id {
	background-color: bisque;
	opacity: 0.8;
}
#public-safety{
	background-color: tan;
	opacity: 0.8;
}

img {
	max-width: 100%;
}

/* =================================================================================
									Timesheet Page
 =================================================================================*/

 /* latin */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Regular'), local('Cabin-Regular'), url(https://fonts.gstatic.com/s/cabin/v8/yQOMOX5hR0-6LTD879t-PQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
 
.timesheet {
	background: url(http://webhomework.geekkidconsulting.com/iit-timesheet/Images/WelcomePageBackground.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}

#ts-form{
	font-family: 'Cabin', sans-serif;
	background-color: rgba(0, 0, 0, 0.6);
  color: #131411;
	border-color: #8C001A;
	border-radius: 0.3125em;
	border-style: solid;
	border-width: 0.15em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	max-width: 50em;
	padding: 5%;
}

#ts-form p{
	padding-top: 3%;
	padding-bottom: 2%;
}

#save {
	margin: 0.875em;
}

/* =================================================================================
									Animations
 =================================================================================*/

.fadein {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

#ts-form {
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

 /* Real browsers */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* =================================================================================
															Media Query
 =================================================================================*/

@media screen and (min-width: 27.50em) { /*440px*/


.nav a {
	padding: 2%;
}

}

@media screen and (min-width: 43.75em) { /*700px*/

.nav a,li {
	display: inline-block;
	padding: 1%;
}

#welcome, #public-safety, #personal-id {
	float: left;
	width: 33.3%;
	}	

}
